.cart-item-container {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
}
.cart-item-container img {
  border-radius: 5%;
  position: relative;
}
.cart-container {
  padding: 5%;
}
.cart-img {
  width: 200px;
  margin-bottom: 10px;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin-left: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  
  color: whitesmoke;
}
.icon-container {
  position: relative;
}

#cart {
  font-size: 2em;
}
